body {
  background-color: rgb(182, 157, 110);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: beige;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  color: rgb(74, 64, 35);
}

footer {
  text-align: center;
}

footer a {
  text-align: center;
  margin: 0 20px;
  color: rgb(0, 0, 0);
}

.croissant-photo {
  max-width: 100%;
  display: block;
  border-radius: 10px;
  margin: 30px;
}
